.vscode
*_psv.psv
*.ipynb
*.swp
data/*.csv
data/*.psv
tools/*.csv
tools/*.psv
backup/*
ABS/MB/*.csv
ABS/SA1/*.csv
ABS/SA1/*.dbf
ABS/SA1/*.shp
ABS/SA1/*.shx
ABS/LGA/*.csv
ABS/LGA/*.dbf
ABS/LGA/*.shp
ABS/LGA/*.shx
